@font-face {
    font-family: 'FreePixel';
    src: url('FreePixel.ttf');
}

/*
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
*/

html {
	height: 100%;
	padding-bottom: 40px;
}

body {
	height: 100%;
	background-color: #002935;
	margin: 20px;
	text-align: center;
}

.jumbotron {
	/*position: fixed;*/
	width: 100%;
	height: 100%;
	/*left: 0;
	top: 0;*/
	background-color: #002935;
	color: #BFF4F5;
	font-family: 'FreePixel';
	/*z-index: 999999 !important;*/
	margin: 0 auto;
	padding: 0;
}

.jumbotron form {
	background-color: #002935;
	width: 40%;
	margin: 0 auto;
}

.alert-danger {
	padding: 5px;
}

.container {
	width: 100%;
	min-height: 100%;
    margin: auto;
	text-align: center;
	border: 2px solid #BFF4F5;
	font-family: 'FreePixel';
	color: #BFF4F5;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
}

.container header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.control-set {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-custom {
  color: #002935;
  background-color: #BFF4F5;
  border-color: #BFF4F5;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.submit {
	padding: 10px;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  color: #002935;
  background-color: #BFF4F5;
  border-color: #BFF4F5;
}
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
  background-image: none;
}
.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: #BFF4F5;
  border-color: #BFF4F5;
}
.btn-custom .badge {
  color: #002935;
  background-color: #BFF4F5;
}