body {
	background-color: #002935;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;;
}

#main-container {
	width: 100%;
	margin-left: 10px;
	margin-top: 10px;
}

#game-canvas {
	background-color: #002935;
}

@font-face {
    font-family: 'FreePixel';
    src: url('./FreePixel.ttf');
}
